<p>
  <b></b><%= "Welcome #{@user.first_name} #{@user.last_name}!"    %> </b>
</p>

<p><b>Task Lists</b></p>

<% if @user.tasks.any? %>

<%else %>
  <p> No tasks. </p>
<% end %>

<p>Create a task:</p>

<%= form_for(@user) do |f| %>
   <!--Form for task -->
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Sign out', signout_path %>
