<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b></b><%= "Welcome #{@user.first_name} #{@user.last_name}!"    %> </b>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
